workflow.json
{
  "name": "Smart Job Application Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        160
      ],
      "id": "ee610c2e-cc2c-4254-8b50-ac3b6ae35f76",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xgZI3p7BhLsKMzalUsoPKk_u0_tfhg3arABxVodJB5I",
          "mode": "list",
          "cachedResultName": "Job Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xgZI3p7BhLsKMzalUsoPKk_u0_tfhg3arABxVodJB5I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xgZI3p7BhLsKMzalUsoPKk_u0_tfhg3arABxVodJB5I/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -640,
        160
      ],
      "id": "a2b60f79-2bc4-4b67-a147-18995c520241",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1vXYOzn4dVnwSf2K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a9d9d412-fe27-4d75-a5d0-125bb71ebd7d",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Interview",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "39db8ca1-2d5c-4926-83cc-714c9db58c83",
              "leftValue": "={{ $json['Interview Date'] }}",
              "rightValue": "={{ DateTime.now().plus({days: 2}).toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        160
      ],
      "id": "310af8ee-145a-466c-824f-d074671e69d0",
      "name": "If",
      "executeOnce": true
    },
    {
      "parameters": {
        "chatId": "1393381673",
        "text": "=🔔 Interview Reminder!\nCompany: {{ $json[\"Company\"] }}\nPosition: {{ $json[\"Position\"] }}\nDate: {{ $json[\"Interview Date\"] }}\nNotes: {{ $json[\"Notes\"] }}\nGood luck! 💪",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "5154d3fd-8c2a-4604-813f-437a1b7bc1e1",
      "name": "Send a text message",
      "webhookId": "fd408bdb-4f35-4cb6-8376-1b64f0c8e6ba",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "tpGOUvfA5XO0V2Dn",
          "name": "Job Tracker Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  console.log(\"Interview Date:\", item.json[\"Interview Date\"]);\n  console.log(\"Now:\", new Date().toISOString());\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        160
      ],
      "id": "6f08bcf2-c590-4e43-9b52-37a399512f50",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "1393381673",
        "text": "=📋 No upcoming interviews in the next 2 days.\n\nCurrent applications:\n- Google: Interview (2026-04-25)\n- Microsoft: Applied (2026-04-28)\n\nKeep applying! 💪",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        144,
        256
      ],
      "id": "ed0c9403-97d9-44b9-ae7c-10af6a05f2ed",
      "name": "Send a text message1",
      "webhookId": "fd408bdb-4f35-4cb6-8376-1b64f0c8e6ba",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "tpGOUvfA5XO0V2Dn",
          "name": "Job Tracker Bot"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -48,
        256
      ],
      "id": "80d3d3f5-8b32-47ff-aa52-4f9951aa0cf3",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e38a23ef-c6b4-4ed3-8cea-ebafeebef1c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59e479b918fac390303baf3bf4fd10f6d94da77d686c870abfc9af5cee645ffb"
  },
  "id": "z7vV0wX08f5Uombm",
  "tags": []
}
